In [3]:
ns = 6 
na = 1 
pa = na/ns 
print("probability of getting 3 is:",pa)

probability of getting 3 is: 0.16666666666666666

In [44]:
ns = 8 
na = 7 
pa = na/ns 
print("probability of getting atleast one head is:",pa)

probability of getting atleast one head is: 0.875

In [45]:

ns = 10 
na = 7
pa = na/ns
print("probability of getting not blue jellybean is:",pa)

probability of getting not blue jellybean is: 0.7

# Independent and Dependent Events

 If the probability that person A will be alive in 20 years
is 0.7 and the probability that person B will be alive in
 20 years is 0.5, what is the probability that they will 
#both be alive in 20 years?

In [47]:
P = 0.7*0.5
print("probability that they will be alive after 20 years is:",P)

probability that they will be alive after 20 years is: 0.35

In [48]:
def event_probability(n,s):
  return n/s

A bag contains 5 white marbles, 3 black marbles and 2 green marbles. In each draw, a marble is drawn from the bag
and not replaced. In three draws, find the probability of obtaining white, black and green in that order.

In [49]:
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of obtaining white, black and green in that order is ",(pw*pb*pg))

the probability of obtaining white, black and green in that order is  0.041666666666666664

In [50]:
cards = 52
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts, cards) + event_probability(clubs, cards)
print(heart_or_club )

0.5

In [51]:
aces = 4
kings = 4
queens = 4
ace_king_or_queen = event_probability(aces, cards) + event_probability(kings, cards) + event_probability(queens, cards)

print(heart_or_club)
print(ace_king_or_queen)

0.5
0.23076923076923078

In [52]:

hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts, cards) + event_probability(aces, cards) - event_probability(ace_of_hearts, cards)
print(round(heart_or_ace, 1))

0.3

In [53]:
red_cards = 26
face_cards = 12
red_face_cards = 6
red_or_face_cards = event_probability(red_cards, cards) + event_probability(face_cards, cards) - event_probability(red_face_cards, cards)

print(round(heart_or_ace, 1))
print(round(red_or_face_cards, 1))

0.3
0.6

# Complementary Events

In [54]:

ns = 6
na = 1
pa = na/ns
print("probabilty of not getting 5 is:",1-pa)

probabilty of not getting 5 is: 0.8333333333333334

# Conditional Probability

In [56]:
import pandas as pd
import numpy as np
df = pd.read_csv('student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [57]:
len(df)

395

In [58]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

In [59]:
df['high_absenses'] = np.where(df['absences'] >= 10, 1, 0)

In [60]:
df['count'] = 1

In [61]:
df = df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [62]:
final= pd.pivot_table(
    df, 
    values='count', 
    index=['grade_A'], 
    columns=['high_absenses'], 
    aggfunc=np.size, 
    fill_value=0
)

In [63]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5